head

	-// jquery and ui
	script(src='/javascripts/3rdparty/jquery.min.js')
	script(src='/javascripts/3rdparty/jquery-ui.min.js')

	-// 3rdparty software
	script(src='/javascripts/3rdparty/jquery.tipsy.js')
	script(src='/javascripts/3rdparty/moment.min.js')
	script(src='/javascripts/3rdparty/i18next.min.js')

	- // tas10 namespace functions
	script(src='/javascripts/tas10.js')

	-// tools
	script(src='/javascripts/tools/center.js')

	-// tas10 Widgets
	script(src='/javascripts/widgets/tas10_container.js')

	-// Initial and main functions
	script(src='/javascripts/initial.js')

	link(rel='stylesheet', href='/stylesheets/style.css')
