.tas10-icon24 {
  background: url("/images/tas10-icons_24x24.png") no-repeat;
  width: 24px;
  height: 24px;
}
.tas10-icon24 .white {
  background-image: url("/images/tas10-icons_24x24w.png");
}
.tas10-icon24.tas10-icon-home {
  background-position: -432px 0;
}
.tas10-icon24.tas10-icon-star {
  background-position: -360px 0;
}
.tas10-icon24.tas10-icon-new {
  background-position: -408px 0;
}
.tas10-icon24.tas10-icon-upload {
  background-position: -264px 0;
}
.tas10-icon24.tas10-icon-find {
  background-position: -384px 0;
}
.tas10-icon24.tas10-icon-person {
  background-position: -96px 0;
}
.tas10-icon24.tas10-icon-workshop {
  background-position: -336px -48px;
}
.tas10-icon24.tas10-icon-webpage {
  background-position: -432px -72px;
}
.tas10-icon24.tas10-icon-contact {
  background-position: -240px -72px;
}
.tas10-icon24.tas10-icon-appointment {
  background-position: -192px -24px;
}
.tas10-icon16 {
  background: url("/images/tas10-icons_16x16.png") no-repeat;
  width: 16px;
  height: 16px;
}
.tas10-icon16 .white {
  background-image: url("/images/tas10-icons_16x16w.png");
}
.tas10-icon16.tas10-icon-new {
  background-position: -272px 0;
}
.tas10-icon16.tas10-icon-gear {
  background-position: -208px 0;
}
.tas10-icon16.tas10-icon-plus {
  background-position: -272px 0px;
}
.tas10-icon16.tas10-icon-star-empty {
  background-position: -240px 0;
}
.tas10-icon16.tas10-icon-star-full {
  background-position: -224px 0;
}
.tas10-icon16.tas10-icon-label-collapsed,
.tas10-icon16.tas10-icon-label {
  background-position: -160px 0;
}
.tas10-icon16.tas10-icon-label-expanded {
  background-position: -112px 0;
}
.tas10-icon16.tas10-icon-file {
  background-position: -79px 0;
}
.tas10-icon16.tas10-icon-website {
  background-position: -288px -48px;
}
.tas10-icon16.tas10-icon-webpage {
  background-position: -272px -48px;
}
.tas10-icon16.tas10-icon-contact {
  background-position: -176px -48px;
}
.tas10-icon16.tas10-icon-workshop {
  background-position: -224px -32px;
}
.tas10-icon16.tas10-icon-appointment {
  background-position: -128px -16px;
}
.tas10-icon16.tas10-icon-calendar {
  background-position: -128px -16px;
}
.tas10-icon16.tas10-icon-checkbox {
  background: url("/images/tas10-container-tabs-sprites.png");
  width: 16px;
  height: 16px;
  background-position: -419px -3px;
}
.tas10-icon16.tas10-icon-checkbox.checked {
  background-position: -440px -3px;
}
