#tas10-left-panel {
  position: absolute;
  top: 53px;
  bottom: 7px;
  left: 10px;
  width: 300px;
  z-index: 0;
}
.tas10-left-panel-button-content {
  background: #e9e9e9;
  position: absolute;
  top: 0;
  right: 0;
  left: 40px;
  bottom: 0;
  height: 100%;
  width: 260px;
  border: 1px solid #ccc;
}
#tas10-navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 35px;
}
#tas10-navbar .navbar-button {
  position: relative;
  z-index: 2;
}
#tas10-navbar .navbar-button.current {
  background-image: url("/images/tas10-icons_24x24.png");
  opacity: 0.7;
}
#tas10-navbar .tas10-icon24 {
  margin: 2px 0 5px 8px;
  cursor: pointer;
}
#tas10-navbar .separator {
  width: 24px;
  height: 24px;
  float: left;
  margin: 2px 0 5px 8px;
}
#tas10-navbar .main_info {
  position: absolute;
  top: 5px;
  width: 24px;
  height: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 900;
}
#tas10-navbar .main_info_sub {
  position: absolute;
  top: 15px;
  width: 24px;
  height: 7px;
  text-align: center;
  font-size: 6px;
}
#tas10-navbar #active-tab-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  background: #e9e9e9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1;
  border: 1px solid #ccc;
  border-right: none;
}
