body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0
  padding 0
  height 100%

a
  color: #00B7FF

input
	padding: 3px 0
	border: 1px solid #ddd
	background: #fff

	&:hover, &:focus
  		outline: none

input[type=submit]
	margin: 0
	padding: 6px 10px
	font-size: 14px
	cursor: pointer
	background: #e0e0e0
	border: none;

	&:hover, &:focus
		background: #88aa00
		color: #fff

.fill-width
	width: 100%