html
	margin 0
	padding 0

body
	font: 13px "Lucida Grande", Helvetica, Arial, sans-serif
	margin 0
	padding 0
	background url('/images/main_bg.png')

a
	color: #00B7FF

input
	padding: 3px 0
	border: 1px solid #ddd
	background: #fff

	&:hover, &:focus
		outline: none

input[type=submit]
	margin: 0
	padding: 6px 10px
	font-size: 14px
	cursor: pointer
	background: #88aa00
	border: none
	color: #fff

	&:hover, &:focus
		background: #444

.fill-width
	width: 100%
.float-right
	float right
.float-left
	float left
.desc
	color: #999
	font-size: 10px
label.desc
	text-transform: uppercase
	font-size: 12px

.tas10-shadow{ box-shadow: 3px 3px 5px rgba(0,0,0,0.5); }

h1.p,p.p
	margin-bottom: 0
p.h1
	margin-top: 0

.tas10-button
	color: #fff
	background: #88aa00
	border: 1px solid #999
	padding: 7px 20px
	font-weight: 900
	text-transform: uppercase
	outline: none
	cursor: pointer
	text-decoration: none

	&:hover,&:focus
		background: #444

		.ui-icon
			background-image: url('/stylesheets/thirdparty/ui-lightness/images/ui-icons_ffffff_256x240.png')

	.disabled
		opacity: 0.1
		&:hover,&:focus
			opacity: 0.1
			box-shadow: none

	.small
		padding: 2px 5px
		font-size: 10px
		cursor: pointer;

	.delete
		background: #d44
		border: 1px solid #a44

fieldset.tas10-steps
	border: none
	border-top: 1px solid #aaa
	legend
		font-size: 14px
		color: #666
		text-align: right
		font-weight: 900
		text-transform: uppercase
	p.desc
		margin: 0
		color: #888

fieldset.title
	border: none
	border-top: 1px solid #ccc
	legend
		font-size: 14px
		color: #444
		font-weight: 900
		text-transform: uppercase
		padding: 0


#tas10-top-panel 
	margin: 10px
	#account-info
		float right
		min-width: 300px
		a 
			color: #333 
			font-size: 12px 
			text-decoration: none 
			opacity: 0.8
			
			&:hover	
				opacity: 1


		img.userpic 
			width: 30px 
			height: 30px 
			float: right 
			opacity: 0.8
			border: 1px solid #ddd

		.username 
			float: right 
			margin: 7px 0 0 
			opacity: 0.7

		.logout 
			float: right 
			opacity: 0.4 
			padding: 6px 
			margin: 1px 5px 0 0

#tas10-logo
	cursor pointer
	background url('/images/logo_30x30.png')
	width 30px
	height 30px
	cursor pointer
	margin 10px
	position absolute
	top 0
	left 5px

#tas10-loader
	position: absolute
	top: 10px
	left: 10px
	display: none
	background: #88aa00
	padding: 3px 4px 2px
	width: 16px
	height: 19px


.browser-actions-bg
    background: none
    padding: 5px
    margin: 5px 0

    .tas10-icon24
	opacity: 0.5
	cursor: pointer

	&:hover
		opacity: 0.8;

		b-list li.selected{ background: #ffc; }

.browser-actions
	margin: 4px;
	border: 1px solid #ddd;
	span.spacer
		float: left
		height: 16px
		padding: 3px 5px 3px 4px
		//border: 1px solid #ccc
		//border-left: none
		//border-right: none
	a
		float: left
		background: none
		padding: 3px 5px 3px 4px
		//border: 1px solid #ccc
		//border-left: none
		//border-right: none
		cursor: pointer

		&:hover
			//border-right: 1px solid #ccc
			//border-left: 1px solid #ccc
			//padding: 3px 4px 3px 3px

			.ui-icon
				opacity: 1

		&:first-child
			//border-left: 1px solid #ccc
			//&:hover
			//	padding: 3px 4px 3px 4px
		&:last-child
			//border-right: 1px solid #ccc
			//&:hover
			//	padding: 3px 5px 3px 3px
		.ui-icon
			opacity: 0.5

		.disabled
			cursor: default
			background: none
			.ui-icon
				opacity: 0.2
			&:hover
				box-shadow: none
				margin-right: 0
				padding-right: 4px
		.paste
			background: #ffc
			.disabled
				background: none

.context-trigger
	&:hover
		//border: 1px solid #ddd; background: #fff
		.context-content
			display: block;

.context-content
	display: none
	background: #fff
	padding: 10px
	border: 1px solid #ddd
	z-index: 10
	position: absolute
	top: 15px
	right: -1px
	width: 200px
	max-height: 500px
	overflow: auto

.tas10-overlay
	display:none
	position: absolute
	top: 0; left:0; right: 0; bottom:0
	width: 100%
	height: 100%
	background: rgba(255,255,255,0.8)
	z-index: 9998

#tas10-notifier
	display: none

.tas10-dialog
	display: none
	position: absolute
	padding: 10px
	background: #fff
	color: #333
	box-shadow: 3px 5px 10px #ddd;
	z-index: 9999
	border: 1px solid #ddd

	.tas10-dialog-header
		color: #999
		font-weight: 900
		margin: 3px 5px

	.border-top
		background: url('/images/tas10-container-tabs-sprites.png')
		background-position: -10px -4px
		width: 100%
		height: 15px
		position: absolute
		top: -14px
		left: 0

	.ui-icon-closethick
		float: right
		cursor: pointer
		border: 1px solid #000
		opacity: 0.2

		&:hover
			opacity: 1
			border-color: #333
	label
		text-transform: uppercase

	.title
		font-size: 14px
		font-weight: 900

	.info-container
		min-width: 400px

	h3
		font-size: 12px
		font-weight: 500
		color: #aaa
		text-transform: uppercase

.tas10-form
	label
		text-transform: uppercase
		color: #999

	input[type='text']
		padding: 5px 0
		font-size: 14px

		&:focus
			border-color: #999;

	input[type='text'].name
			font-weight: 900

ul.tas10-tree, ul.tas10-tree ul
	margin: 0; list-style-type: none; padding: 0

ul.tas10-tree
	height: 100%; overflow: auto
	li
		margin: 0; padding: 0; font-size: 11px; cursor: pointer; background: inherit
		.drop-hover
			background: #fc6 !important
		.item-container
			padding: 4px 0
		a
			text-decoration: none; font-weight: 500; color: #555

		.title.item-color
			border-radius: 3px; padding: 0 5px; color: #fff
		.tb-icon16
			margin: -1px 3px 0 0
		.spacer
			width: 16px; height: 16px; float:left
		.opener
			margin: -2px 0 0; opacity: 0.5; cursor: default
			&:hover
				opacity: 1
		.opener.loading
			background-image: url('/images/loading_16x16.gif') !important
			background-position: 0 0 !important

#tas10-find
	position: absolute
	left: 320px
	right: 10px
	top: 53px
	height: 32px
	background: #fff
	border: 1px solid #ddd

	.submit
		position: absolute; top: 4px; right: 30px; opacity: 0.5
		&:hover
			opacity: 1
	.settings
		position: absolute; top: 8px; right: 10px; opacity: 0.5
		&:hover
			opacity: 1

	.available-scripts
		list-style-type: none; margin: 0; padding: 0
		li
			padding: 3px; cursor: pointer
			&:hover
				background: #6DB4FF

	input[type=text]
		border: none; background: none; font-size: 16px; position: absolute; width: 300px; margin: 3px 60px 0 0
		&:focus
			outline: none
	.path
		margin: 5px 8px; float: left
	.path-item
		float: left; margin: 0 5px; padding: 3px 5px; background: #d64; color: #fff
	.conditions
		margin: 5px 8px; float: left
	.field-condition
		float: left; margin: 0 5px; padding: 3px 5px; background: #ddd; color: #000
	.label-res
		list-style-type: none
		padding: 0; margin: 0
		position: absolute
		top: 30px
		width: 200px
		background: #fff
		z-index: 10
		border: 1px solid #ddd
		box-shadow: 0 3px 3px #555
		li
			padding: 5px
			.selected-res
				background-color: #6DB4FF; color: #fff; cursor: pointer
