<script id="label-tree-item-template" type="text/x-jsrender">
	<li data-id="{{:_id}}" data-className="{{:className}}" class="item item-context-menu {{if taggable}}taggable{{/if}}">
		<div class="item-container">
			<span class="ui-icon ui-icon-triangle-1-e float-left opener"></span>
			<span class="tb-icon16 black tb-icon-{{:className.toLowerCase()}} float-left"></span>
			<a href="/{{:className.toLowerCase()}}s/{{:_id}}" data-remote="true" class="title item_{{:_id}}_title{{if color && color.length > 0}} item-color" style="background-color: {{:color}}{{/if}}">{{:name}}</a>
		</div>
	</li>
</script>