.tas10-dialog-header
	=t( 'plugin.dashboard.new')

fieldset.tas10-steps
	legend
		=t( 'type' )
	p.desc
		=t( 'what_desc' )
	select#tas10-select-type-to-create
		each plugin in tas10box.plugins
			if plugin.create
				option( value=plugin.name.toLowerCase() )
					=t( 'plugin.' + plugin.name.toLowerCase() + '.title' )

fieldset.tas10-steps
	legend
		=t( 'details' )
	each plugin in tas10box.plugins
		if plugin.create
			div.create-form( id=plugin.name+'-form' )
				!=dynamicPartial( plugin.name.toLowerCase() + '/form.jade' )


fieldset.tas10-steps
	legend
		=t( 'plugin.labels.title' )
	span.tas10-path
