!!! 5

html

	include snippets/head.jade

	body

		div#tas10-logo.live-tipsy-w(original-title=t('plugin.dashboard.goto'))

		include snippets/top
		include snippets/left_navbar

		//	<%- partial('../panels/top.html.ejs') %>
		//	<%- partial('../panels/left-buttonbar.html.ejs') %>
		//	<%- partial('../panels/find.html.ejs') %>

		//	<div id="tb-main-container">
		//		<div id="tb-tab-container"></div>
		//		<div id="tb-dashboard"></div>
		//		<%- body %>
		//	</div>
