!!! 5

html

	include snippets/head.jade

	body

		div#tas10-logo.live-tipsy-w(original-title=t('plugin.dashboard.goto'))

		include snippets/top
		include snippets/left_navbar
		include snippets/find


		#tas10-overlay.tas10-overlay
		#tas10-dialog.tas10-dialog
		.tas10-path
		input.tas10-current-label(type='hidden')

		include tmpls/all
		
		#tas10-main-container
			#tas10-tab-container
			#tas10-dashboard