.action-container

	div.tab-header
	!=dynamicPartial( 'snippets/browser_actions.jade' )
	ul#tas10-browser-tree.tas10-tree.tas10-labels-tree( style="margin: 10px;" )
	script
		$('#tas10-browser-tree').tas10Tree({ url: '/labels?roots=true' });